@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-150;
}

.light {
  --background-color: 245, 245, 245;
  --primary-color: 14, 31, 57;
  --secondary-color: 255, 249, 243;
  --border-color: ;
  --primary-text-color: 14, 31, 57;
  --secondary-text-color: 249 ,115, 22;
  --dark-color: 14, 31, 57;
}

.dark {
  --background-color: 14, 31, 57;
  --primary-color: 245, 245, 245;
  --secondary-color: 14, 31, 57;
  --border-color: ;
  --primary-text-color: 255, 249, 243;
  --secondary-text-color: 249, 115, 22;
  --dark-color: 14, 31, 57;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: 14, 31, 57;
    --primary-color: 255, 249, 243;
    --secondary-color: 14, 31, 57;
    --border-color: ;
    --primary-text-color: 255, 249, 243;
    --secondary-text-color: 249, 115, 22;
  }
}

.curtain {
  user-select: none;

  .color-1,
  .color-2,
  .color-3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;  
    transform-origin: top;  
    will-change: transform;
  }

  .color-1 {
    z-index: 999;
    background-color: #e4bf3f;
  }

  .color-2 {
    z-index: 998;
    background-color: #fedbc4;
  }

  .color-3 {
    z-index: 997;
    background-color: #001131;
  }

}

.se-image-container{
  width: 100% !important;
  overflow: hidden;
}

.se-image-container > figure{
  width: 100% !important;
}

.se-image-container figure img{
  width: 100% !important;
  object-fit: cover;
}

.quill {
  margin-top: 0 !important;
}

.ql-container {
  min-height: 250px;
}


.article-container {
  a {
    text-decoration: underline;
    color: rgb(0, 108, 197);
    word-wrap: break-word;
  }
  img {
    padding: .75rem 0px
  }
  blockquote {
    padding: 10px 20px;
    margin: .75rem 0;
    border-left: 5px solid #ccc; /* or your desired color */
    background: #f9f9f9; /* or another background color */
    font-style:italic; /* Optional */
    font-size: 1rem !important;
    word-wrap: break-word;
  }

  pre {
    text-wrap: wrap;
    word-wrap: break-word;
    background-color:#000a1d;
    padding: .75rem;
    color: white;
    border-radius: .5rem;
    margin: .75rem 0;
  }

  table {
    width: 100%;
  }

  table > thead > tr > th {
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
  }

  table > tbody > tr > td {
    border: 1px solid grey;
    padding: 10px;
  }

  h2 {
    font-size: 1.50rem; /* 20px */
    line-height: 2.125rem; /* 28px */
    strong {
      font-size: 1.50rem; /* 20px */
      line-height: 2.125rem; /* 28px */
      word-wrap: break-word;
    }
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    word-wrap: break-word;
  }

  h3 {
    font-size: 1.25rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    strong {
      font-size: 1.25rem; /* 18px */
      line-height: 1.75rem; /* 28px */
      word-wrap: break-word;
    }
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    word-wrap: break-word;
  }

  h4 {
    font-size: 1.10rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    strong {
      font-size: 1.10rem; /* 18px */
      line-height: 1.75rem; /* 28px */
      word-wrap: break-word;
    }
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    word-wrap: break-word;
  }

  h1 {
    padding-top: 1.25rem;
    padding-bottom: .5rem;
    font-size: 1.75rem;
    line-height: 2.50rem;
    word-wrap: break-word;
    strong {
      font-size: 1.75rem;
      line-height: 2.50rem;
      word-wrap: break-word;
      span {
        word-wrap: break-word;
        font-size: 1.75rem;
        line-height: 2.50rem;
      }
    }
    span {
      font-size: 1.75rem;
      line-height: 2.50rem;
      word-wrap: break-word;
    }
    padding-bottom: 0.50rem;
    word-wrap: break-word;
  }

  .ql-size-small {
    font-size: 1.1rem /* 12px */;
    line-height: 1rem /* 16px */;
    font-weight: bold;
  }

  .ql-size-large {
    font-size: 1.25rem /* 12px */;
    line-height: 1rem /* 16px */;
  }

  .ql-size-huge {
    font-size: 2rem /* 32px */;
    line-height: 2.5rem /* 40px */;
  }

  p {
    padding: 0px;
    margin: 0px;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    padding-bottom: 0.50rem;
    word-wrap: break-word;
    a {
      text-decoration: underline;
      word-wrap: break-word;
    }
    a:hover{
        color: rgb(2, 132, 199, 1) !important;
    }
  }

  ul {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    list-style: disc !important;
    padding-left: 2.5rem;
    word-wrap: break-word;
    /* padding-bottom: 1rem; */
    ::marker{
      color: black;
    }
    li{
      word-wrap: break-word;
      padding-bottom: 0.25rem;
    }
  }
  
  ol {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    list-style: numeric !important;
    padding-left: 2.5rem;
    word-wrap: break-word;
    /* padding-bottom: 1rem; */
    ::marker{
      color: black;
      /* font-weight: bold; */
    }
    li{
      word-wrap: break-word;
      padding-bottom: 0.50rem;
    }
  }

  .ql-size-large {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }

}
